<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Baza biegłych sądowych</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aboreto&amp;display=swap">
    <link rel="stylesheet" href="{% static '/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/Data-Table-styles.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/Data-Table.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/Pretty-Search-Form-.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/Table-With-Search-search-table.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/Table-With-Search.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/Tamplate-SB-Admin-on-BSS.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css%22%3E">
    <link rel="stylesheet" href="{% static '/assets/css/styles.css' %}">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
</head>

<body style="background: rgb(244,244,244);">
    <div>
        <nav class="navbar navbar-dark navbar-expand sb-topnav" style="background: rgb(255,255,255);border-style: none;">
            <div class="container-fluid">
                <div></div>
                <form class="d-none d-md-inline-block order-2 ms-auto me-0 me-md-3 my-2 my-md-0">
                    <div class="input-group">
                        <div class="input-group-append"></div>
                    </div>
                </form>
                <a href= "{% url 'logout' %}" button class="btn btn-primary" type="button" style="margin-right: 100px;background: rgb(0,84,210);font-size: 21px;margin-left: 0px;border-style: none;border-color: rgb(75,91,235);padding-left: 26px;padding-right: 26px;">Wyloguj</a>
                <p style="padding-bottom: 0px;padding-top: 16px;font-family: Aboreto, serif;width: 250px;font-size: 21px;">Baza Dokumentów Sądowych</p>
            </div>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <div id="sidenavAccordion" class="sb-sidenav accordion sb-sidenav-dark">
                    <div class="sb-sidenav-menu" style="background: rgb(13,110,253);">
                        <div class="nav">
                            <div>
                                <div class="sb-sidenav-menu-heading" style="margin-bottom: 24px;"><i class="far fa-user-circle" style="font-size: 80px;background: rgba(255,255,255,0);color: rgb(255,255,255);padding-left: 50px;"></i>
                                    <div class="container">
                                        <p style="color: rgb(255,255,255);font-size: 16px;padding-left: 12px;padding-top: 0px;padding-bottom: 6px;margin-bottom: 0px;margin-top: 7px;">ID użytkownika</p>
                                    </div>
                                </div><a class="nav-link active" href="{% url 'a_info' %}" style="border-top: 1px none #ffffff ;border-bottom: 1px none rgb(255, 255, 255) ;">
                                    <div class="sb-nav-link-icon"></div><span style="font-size: 19px;margin-right: -12px;"><i class="fas fa-info-circle"></i>&nbsp;Informacje o sądzie</span>
                                </a><a class="nav-link active" href="{% url 'a_ob' %}" style="border-top-width: 1px;border-top-style: none;border-bottom-width: 1px;border-bottom-style: none;">
                                    <div class="sb-nav-link-icon"></div><span style="font-size: 19px;margin-right: -10px;"> <i class="fas fa-database"></i> Baza opinii biegłych</span>
                                </a><a class="nav-link active" href="{% url 'a_baza_b' %}" style="border-bottom-width: 1px;border-bottom-style: none;">
                                    <div class="sb-nav-link-icon"></div><span style="font-size: 19px;"><i class="fas fa-database"></i>&nbsp;Baza biegłych</span>
                                </a><a class="nav-link active" href="{% url 'prosby' %}" style="border-bottom-width: 1px;border-bottom-style: none;">
                                    <div class="sb-nav-link-icon"></div><span style="font-size: 19px;"><i class="fas fa-users" style="font-size: 20px;"></i>&nbsp;Prośby</span>
                                </a><a class="nav-link active" href="{% url 'a_pomoc' %}" style="border-bottom-width: 1px;border-bottom-style: none;">
                                    <div class="sb-nav-link-icon"></div><span style="font-size: 19px;"><i class="fas fa-hands-helping" style="font-size: 20px;"></i>&nbsp;Pomoc</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer" style="background: rgb(13,110,253);border-style: none;border-top: 1px solid rgb(255,255,255) ;">
                        <div class="small"><span style="margin-left: 35px;padding-left: 15px;">Wersja 1.0.0.0</span></div>
                    </div>
                </div>
            </div>
            <div id="layoutSidenav_content">
                <main style="border-left-style: none;">
                    <div class="container" style="width: 1686px;">
                        <div class="row" style="padding-top: 0px;margin-top: -45px;">
                            <div class="col-md-12 col-xxl-12 hrz-txt-scroll" style="padding-bottom: 319px;margin-top: 75px;white-space: nowrap;border: 1px none rgb(173,173,173);width: 1500px;margin-bottom: -320px;margin-left: -206px;" data-bs-smooth-scroll="true">
                                <div>
                                    <div class="col-md-12 search-table-col hrz-txt-scroll" style="margin: -26px 0px 0px;"><span class="counter pull-right"></span>
                                        <form class="search-form" style="width: 1287px;margin: 7px 5px;">
                                            <div></div>
                                        </form>
                                    </div>
                                </div>
                                <div></div>
                                <div class="card shadow" style="width: 1500px;margin-left: 100px;">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold" style="font-size: 26px;">Przeszukaj biegłych</p>
                                    </div>
                                    <div class="card-body">  
                                        <div class="row">
                                            <div class="col-md-6 text-nowrap">
                                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Wyświetlanie&nbsp;<select class="d-inline-block form-select form-select-sm">
                                                            <option value="10" selected="">10</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>&nbsp;</label></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Szukaj..."></label></div>
                                            </div>
                                        </div>                                      
                                        <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                                            <table class="table my-0" id="dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>Tytuł</th>
                                                        <th>Imię</th>
                                                        <th>Nazwisko</th>
                                                        <th>Specjalność</th>
                                                        <th>Specjalizacja</th>
                                                        <th>Kadencja</th>
                                                        <th>Miejscowość</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                
                                                {% for expert in experts_list %}
                                                    <tr>
                                                        <td>{{expert.ex_title}}</td>
                                                        <td>{{expert.name}}</td> 
                                                        <td>{{expert.surname}}</td>
                                                        <td>{{expert.speciality}}</td>
                                                        <td>{{expert.specialisation}}</td>                                                     
                                                        <td>{{expert.term}}</td>
                                                        <td>{{expert.locality}}</td>

                                                    </tr>
                                                {% endfor %}   

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -46px;padding-left: 0px;margin-left: -15px;">
                            <div class="col-md-12" style="padding-bottom: 319px;margin-bottom: 0px;margin-top: 75px;margin-left: 0px;height: 730px;border: 1px none rgb(173,173,173);width: 1686px;">                         
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/database.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="{% static '/assets/js/db.js' %}"></script>
    <script>
        $("#dataTable").DataTable({
            paging: true,
            pageLength: 10,
            lengthChange: true,
            autoWidth: true,
            searching: true,
            bInfo: true,
            bSort: true, 

            "columnDefs": [{
                "targets": [4,5],
                "orderable": false
            }]
        });
    </script> 
</body>

</html>