<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <title>Dodawanie akt</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/assets/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/Nunito.css' %}">
    <link rel="stylesheet" href="{% static '/assets/fonts/fontawesome-all.min.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css%22%3E">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark fixed-bottom align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="height: 930px;">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="far fa-chart-bar" style="font-size: 35px;"></i></div>
                    <div class="sidebar-brand-text mx-3" style="height: 30px;width: 148.156px;margin-right: 0px;padding-right: 50px;"><span style="font-size: 26px;">bds</span></div>
                </a><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0">
                    <div class="sidebar-brand-text mx-3" style="height: 30px;width: 148.156px;margin-right: 52px;padding-right: 50px;"><i class="far fa-user-circle text-center" style="font-size: 100px;margin-left: 11px;"></i></div>
                </a><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" style="height: 169px;">
                    <div class="sidebar-brand-text mx-3" style="height: 30px;width: 148.156px;margin-right: 52px;padding-right: 50px;"><span style="font-size: 18px;font-weight: bold;padding-left: 0px;margin-left: -25px;">{{ user.username }}</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar" style="margin-top: -51px;margin-left: -25px;">
                    <li class="nav-item"><a class="nav-link active" href=""><span style="font-size: 18.6px;">Menu</span><i class="fas fa-chevron-down" style="margin-left: 8px;"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'a_info' %}"><i class="fas fa-info-circle"></i><span>Informacje o sądzie</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'a_baza_b' %}"><i class="fas fa-table"></i><span>Baza biegłych</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'a_ob' %}"><i class="fas fa-table"></i><span>Baza opinii biegłych</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'ocr' %}" ><i class="fas fa-table"></i><span>Cyfryzacja skanu</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'prosby' %}"><i class="far fa-question-circle"></i><span>Prośby</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'a_pomoc' %}"><i class="far fa-question-circle"></i><span>Pomoc</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"></div>
                <div style="margin-left: -30px;margin-top: 446px;"><span style="color: rgba(255,255,255,0.54);">Wersja 1.0.0.0</span></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand fixed-top bg-white shadow mb-4 topbar static-top" style="margin-left: 224px;margin-top: 70px;height: 41px;">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop-1" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search" style="width: 650px;">
                            <div><span><button style="color:grey; background-color:transparent; border:none;"><a class="nav-link" onclick="history.back()"><i class="fas fa-arrow-left"></i> Powrót&nbsp;</a></button>&nbsp;|&nbsp;<button style="color:grey; background-color:transparent; border:none;"><a class="nav-link" href="{% url 'start_a' %}">Panel archiwizatora&nbsp;</a></button>&nbsp;|&nbsp;<button style="color:grey;background-color:transparent; border:none;">Dodawanie akt</button></span></div>
                        </form>
                    </div>
                </nav>
                <nav class="navbar navbar-light navbar-expand fixed-top bg-white shadow mb-4 topbar static-top" style="margin-left: 224px;">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop-1" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div><span style="color: rgb(153,153,153);">Sąd Okręgowy w ...</span></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">

                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"><span class="d-none d-lg-inline me-2 text-gray-600 small">{{ user.username }}</span></a>
                                    
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"><span class="d-none d-lg-inline me-2 text-gray-600 small">Wydział sądu</span></a>
                                
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow"><a href="{% url 'logout' %}" button class="btn btn-primary" type="button" style="height: 37px;margin-top: 17px;width: 94.6875px;">Wyloguj</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid" style="margin-left: 225px;margin-top: 127px;">
                    <div></div>
                </div>
                <form method="POST" action="" enctype="multipart/form-data">
                    <div class="container" style="margin-left: 290px;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card shadow" style="border-style: none;width: 1000px;height: 600px;">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold" style="font-size: 26px;text-align: center;">Dodawanie akt</p>
                                    </div>
                                    <div class="card-body">
                                        <div style="width: 430px;height: 490px;margin-top:2px;border: 1px solid rgb(191,191,191);border-bottom-color: rgba(133,135,150,0.43);">
                                            <div class="card">
                                                <div class="card-header py-3">
                                                    <p class="text-primary m-0 fw-bold" style="font-size: 21px;text-align: center;">Informacje</p>
                                                </div>
                                                <div class="card-body">
                                                    <div>
                                                        <ul class="list-group">
                                                            <li class="list-group-item"><div>
                                                                <div class="dropdown"><span>Wybierz z listy, czego dotyczy sprawa: </span><button class=" dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"></button>
                                                                    <div class="dropdown-menu"><a class="dropdown-item" href="#">Sprawa karna</a><a class="dropdown-item" href="#">Sprawa o wykroczenie</a><a class="dropdown-item" href="#">Sprawa cywilna</a></div>
                                                                </div>
                                                            </div></li>
                                                            {% csrf_token %}
                                                            <li class="list-group-item"><span>Wybierz sąd, z którego pochodzą akta: {{form.court}}</span></li>
                                                            <li class="list-group-item"><span>Wpisz sygnaturę akt: {{form.signature}}</span></li>
                                                            <li class="list-group-item"><span>Wpisz artykuł sprawy: {{form.article}}</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="width: 500px;height: 490px;margin-left: 467px;margin-top: -489px;border: 1px solid rgba(133,135,150,0.43);">
                                            <div class="card">
                                                <div class="card-header py-3" style="border-radius: 0px;">
                                                    <p class="text-primary m-0 fw-bold" style="font-size: 21px;text-align: center;">Spis treści</p>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">Załącz skan spisu treści teczki sądowej:</p>
                                                    <ul class="list-group">
                                                        <li class="list-group-item"><span>{{form.contents_list}}</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card shadow" style="border-style: none;width: 500px;margin-left: 370px;height: 500px;">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 fw-bold" style="font-size: 26px;text-align: center;">Podgląd</p>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <ul class="list-group">
                                                <span>Wybierz okładkę teczki: </span>
                                                <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Okładki</button>
                                                <div class="dropdown-menu"><a class="dropdown-item" href="#">Sprawy karne</a><a class="dropdown-item" href="#">Sprawy o wykroczenia</a><a class="dropdown-item" href="#">Sprawy cywilne</a></div>
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card shadow" style="border-style: none;width: 500px;margin-left: 370px;height: 85px;margin-top: 15px;">
                                    <div class="card-body" style="text-align: center;">
                                        <button class="btn btn-primary" type="submit" style="background: rgb(78, 115, 223);margin-top: 5px;width: 211.4062px;height: 45px;">Prześlij</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form> 
                {{form.errors}}
            </form>     
            </div>
            <footer class="bg-white sticky-footer" style="margin-top: 60px;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="content/js/jquery.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="content/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>
</body>

</html>
