<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Baza Dokumentów Sądowych</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
  
  </style>
</head>

<body>
  <header class="header">
    <a href="#" class="logo">LOGO</a>
    <nav class="nav-items">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="{% url 'login' %}" class="ml-2">Zaloguj</a>
    </nav>
  </header>
  <main>
    <div class="intro">
      <h1>Baza Dokumentów Sądowych</h1>
      <p>System wspomagania digitalizacji i archiwizacji dokumentów sądowych</p>
      <button>Więcej</button>
    </div>
    
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>O systemie</h2>
        <p>Oprogramowanie przeznaczone dla pracowników organów procesowych i biegłych, służące do digitalizacji i gromadzenia dokumentów sądowych. Aplikacja umożliwia wyszukiwanie, filtrowanie wyników oraz odpowiada za ich modyfikację.</p>
      </div>
      <img src="">
    </div>
  </main>
  <footer class="footer">
    <div class="copy">&copy; 2022 Developer</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
      <div class="links">
        <span>Social Links</span>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>
</body>

</html>
