<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Baza Dokumentów Sądowych</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/aos.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/Navbar-With-Button-icons.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/styles.css' %}">
</head>

<body style="border-style: none;">
    <nav class="navbar navbar-light navbar-expand-md py-3" style="background: rgb(78, 115, 223);margin-bottom: -16px;">
        <div class="container">
            <a href= "{% url 'login' %}" button class="btn btn-primary" type="button" style="height: 40px;background: rgb(52, 76, 151);font-size: 16px;color: white; margin-left: 113%;border-style: none;  border-color: rgb(75,91,235);padding-left: 26px;padding-right: 26px;">Zaloguj</a>
        </div>
    </nav>
    <section>
        <div style="height: 600px;background: rgb(235, 235, 235) center / cover;padding-bottom: 270px;margin-bottom: -220px;"></div>
        <div class="container h-100 position-relative" style="top: -50px;">
            <div class="row gy-5 gy-lg-0 row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col">
                    <div class="card" style="box-shadow: 0px 7px 13px rgba(33,37,41,0.25);padding-bottom: 70px;">
                        <div class="card-body pt-5 p-4" style="margin-bottom: 70px;">
                            <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg" style="top: -30px;background: rgb(78, 115, 223)"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-book">
                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"></path>
                                </svg></div>
                            <h4 class="card-title">Baza akt spraw</h4>
                            <p class="card-text">Uzyskaj dostęp do wybranych akt sprawy. </p>
                        </div>
                        <div class="card-footer p-4 py-3" style="margin-top: 0px;margin-bottom: 0px;"><a href="#">Dowiedz się więcej&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg></a></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="box-shadow: 0px 7px 13px rgba(33,37,41,0.25);padding-bottom: 70px;">
                        <div class="card-body pt-5 p-4" style="margin-bottom: 70px;">
                            <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg" style="top: -30px;background: rgb(78, 115, 223);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-folder">
                                    <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"></path>
                                </svg></div>
                            <h4 class="card-title">Baza opinii biegłych</h4>
                            <p class="card-text">Uzyskaj dostęp do wybranych opinii biegłych.</p>
                        </div>
                        <div class="card-footer p-4 py-3"><a href="#">Dowiedz się więcej&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg></a></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="box-shadow: 0px 7px 13px rgba(33,37,41,0.25);padding-bottom: 70px;">
                        <div class="card-body pt-5 p-4" style="margin-bottom: 70px;">
                            <div class="bs-icon-lg bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center position-absolute mb-3 bs-icon lg" style="top: -30px;background: rgb(78, 115, 223);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-folder">
                                    <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"></path>
                                </svg></div>
                            <h4 class="card-title">Baza biegłych</h4>
                            <p class="card-text">Uzyskaj dostęp do bazy biegłych.</p>
                        </div>
                        <div class="card-footer p-4 py-3"><a href="#">Dowiedz się więcej&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                </svg></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        <footer class="text-center py-4" style="margin-top: 141px;">
            <div class="container">
                <div class="row row-cols-1 row-cols-lg-3">
                    <div class="col" style="width: 200%;">
                        <ul class="list-inline my-2">
                            <li class="list-inline-item"><a class="link-secondary" href="#">Polityka prywatności</a></li>
                            <li class="list-inline-item">Prawa autorskie © Baza Dokumentów Sądowych 2023</li>
                            <li class="list-inline-item"><a class="link-secondary" href="#">Warunki korzystania</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/aos.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>